{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
<nav class="navbar navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
      <br>

    Indian Bank
<br>
      <br>
<a class="btn btn-warning" href="{% url 'bankapp:login' %}"> Login </a>
 <a class="btn btn-warning" href="{% url 'bankapp:register' %}"> Register</a>
  <a class="btn btn-danger" href="{% url 'bankapp:logout' %}">Logout</a>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Branches
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">

      <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kochi">KOCHI</a></li>
      <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Aluva">ALUVA</a></li>
      <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Angamaly"> ANGAMALY</a></li>
      <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kakkanad">KAKKANAD</a></li>
      <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Vyttila">VYTTILA</a></li>


  </ul>
</div>

  </a>
</nav>



     <div class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    height: 100vh;
  ">


<br>
         <br>
         <br>

    <h4 class="text-white">  Indian Bank
        <br>
    </h4>
         <a class="" href="{% url 'bankapp:link' %}"><h3>Click here...<br>
             <br>
             To accept the application

         </h3></a>
</div>
<!-- Background image -->
</head>
<body>











{% block body %}
{%  endblock %}
</body>
</html>